@font-face {
  font-family: "Commissioner-Bold";
  src: url("../fonts/Commissioner/Commissioner-Bold.woff2");
}

@font-face {
  font-family: "Commissioner-Regular";
  src: url("../fonts/Commissioner/Commissioner-Regular.woff2");
}

@font-face {
  font-family: "DrukWideCyr-Bold";
  src: url("../fonts/Druk/DrukWideCyr-Bold.woff2");
}
