.footerContent {
  --footerContentTitleFontSize: 5rem;
  --footerContentImage: url("@/assets/img/ballForFooter.svg");
  position: relative;
  display: flex;
  border-top: 1px solid black;
  height: 100%;

  &__leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
      font-size: var(--footerContentTitleFontSize);
      width: 80%;
      text-transform: uppercase;
      font-family: "DrukWideCyr-Bold";
    }

    &__apps {
      display: flex;
      gap: 5rem;

      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        &__img {
          width: 20%;
          aspect-ratio: 1 / 1;
        }

        &__textContent {
          display: flex;
          flex-direction: column;
          width: 10rem;

          &__text {
            line-height: 1.5rem;
            margin: 0;
            font-size: 1.2rem;
            font-family: "Commissioner-Regular";
          }

          &__text:last-child {
            font-weight: 900;
          }
        }
      }
    }

    &__madeInText {
      margin-top: 25rem;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-family: "DrukWideCyr-Bold";
    }
  }

  &__rightSide {
    display: flex;
    justify-content: center;
    margin-top: 7rem;

    &__img {
      content: var(--footerContentImage);
      position: absolute;
      bottom: -10%;
      right: calc(0% - 2.5rem);
      z-index: -100;
      width: 36%;
    }

    &__qrCode {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      border-radius: 3.75rem;
      margin-right: 26rem;
      z-index: 100;
      width: 36rem;
      height: 40rem;
      background-color: #fff;

      &__img {
        width: 18rem;
        aspect-ratio: 1 / 1;
      }

      &__textContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        &__phoneType {
          margin-bottom: 0;
          font-size: 1.75rem;
          color: #747474;
        }

        &__instruction {
          margin-top: 0;
          font-size: 1.4rem;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-align: center;
          font-family: "DrukWideCyr-Bold";
        }
      }
    }
  }
}

@media (max-width: 1160px) {
  .footerContent {
    &__rightSide {
      &__qrCode {
        margin-right: 5rem;
      }

      &__img {
        right: -1.8%;
      }
    }
  }
}

@media (max-width: 975px) {
  .footerContent {
    --footerContentTitleFontSize: 4rem;

    &__rightSide {
      &__img {
        right: calc(0% - 2.5rem);
      }
    }
  }
}

@media (max-width: 855px) {
  .footerContent {
    --footerContentImage: url("@/assets/img/basketImageForFooter.svg");

    &__rightSide {
      &__img {
        width: 40%;
      }

      &__qrCode {
        display: none;
      }
    }
  }
}

@media (max-width: 730px) {
  .footerContent {
    --footerContentImage: url("@/assets/img/basketImageForFooter.svg");

    &__leftSide {
      &__apps {
        flex-direction: column;

        &__item {
          &__img {
            width: 6%;
          }

          &__textContent {
            width: 100%;

            &__text {
              font-size: 1.5rem;
              line-height: 2rem;
            }
          }
        }
      }
    }

    &__rightSide {
      &__img {
        bottom: 8%;
      }
    }
  }
}

@media (max-width: 500px) {
  .footerContent {
    --footerContentTitleFontSize: 3.25rem;

    &__leftSide {
      &__title {
        width: 100%;
      }
    }
  }
}
