.learnSection {
  --learnSectionSubTitleFontSize: 5rem;
  margin-bottom: 15rem;
  background-color: #fff;
  padding: 0 2.5rem;
  border-radius: 2.5rem;

  &__headContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-size: 8rem;
      text-transform: uppercase;
      font-family: "DrukWideCyr-Bold";
    }

    &__button {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: uppercase;
      font-size: 2rem;
      font-family: "DrukWideCyr-Bold";
      color: #2e8d43;
      gap: 1.5rem;
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;

    &__leftSide {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 65%;
      gap: 2rem;

      &__banner {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
        background: url("../img/1.webp") no-repeat;
        background-size: 150%;
        height: 62rem;
        border-radius: 2.5rem;
        gap: 2rem;
        padding-bottom: 2.5rem;

        &__img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &__title {
          color: #fff;
          font-family: "DrukWideCyr-Bold";
          font-weight: 100;
          text-transform: uppercase;
          width: 70%;
          font-size: var(--learnSectionSubTitleFontSize);
          padding: 0 2.5rem;
        }

        &__sectionsCount {
          background-color: #fff !important;
          width: 25% !important;
        }
      }

      &__filters {
        display: flex;
        flex-direction: column;
        background-color: #2e8d43;
        border-radius: 1.875rem;
        padding: 3rem 2.5rem;

        &__filtersList {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 0.5rem;
          width: 50%;

          &__filter {
            margin: 0 !important;
            color: #fff !important;

            &:hover {
              cursor: pointer;
              background-color: rgba(255, 255, 255, 0.3);
            }
          }
        }

        &__title {
          font-size: var(--learnSectionSubTitleFontSize);
          width: 70%;
          font-family: "DrukWideCyr-Bold";
          color: #fff;
          text-transform: uppercase;
        }
      }
    }

    &__rightSide {
      display: grid;
      grid-template-areas:
        "item"
        "item"
        "item";
      grid-auto-rows: calc(100% / 3);
      width: 35%;
      padding: 0 2rem;
      border-left: 2px solid rgba(128, 128, 128, 0.2);

      &__videoTutorials {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20%;
        width: 100%;
        border-bottom: 2px solid rgba(128, 128, 128, 0.2);
        padding-bottom: 2.5rem;

        &__title {
          font-size: 2rem;
          font-family: "DrukWideCyr-Bold";
          text-transform: uppercase;
        }

        &__content {
          display: flex;
          flex-direction: row;
          gap: 2.5rem;

          &__img {
            width: 30rem;
            height: 16rem;
            object-fit: cover;
            border-radius: 6px;
          }

          &__textContent {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__filter {
              background-color: rgba(128, 128, 128, 0.2) !important;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50% !important;
              color: #000 !important;
            }

            &__title {
              font-size: 1.7rem;
              font-family: "DrukWideCyr-Bold";
              text-transform: uppercase;
            }
          }
        }
      }

      &__articles {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 2px solid rgba(128, 128, 128, 0.2);
        padding-bottom: 2.5rem;

        &__title {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
          font-size: 2rem;
          font-family: "DrukWideCyr-Bold";
          text-transform: uppercase;

          &--arrow {
            display: none;
            width: 5rem;
            height: 5rem;
          }

          &:hover {
            cursor: pointer;
            color: #2e8d43;
          }

          &:hover &--arrow {
            display: block;
          }
        }

        &__textContent {
          &__filter {
            background-color: rgba(128, 128, 128, 0.2) !important;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25% !important;
            margin: 0 !important;
            color: #000 !important;
          }

          &__title {
            font-size: 1.7rem;
            font-family: "DrukWideCyr-Bold";
            text-transform: uppercase;
          }
        }
      }

      &__termins {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 2.5rem;

        &__title {
          font-size: 2rem;
          font-family: "DrukWideCyr-Bold";
          text-transform: uppercase;
        }

        &__filters {
          display: flex;
          gap: 1rem;

          &__filter {
            background-color: #efefef !important;
            padding: 2px 2rem;
            width: 100%;
            font-size: 1.25rem !important;
            margin: 0 !important;
            height: 20px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 1160px) {
  .learnSection {
    &__content {
      &__leftSide {
        width: 100%;
      }

      &__rightSide {
        display: none;
      }
    }
  }
}

@media (max-width: 1040px) {
  .learnSection {
    &__content {
      &__leftSide {
        &__banner {
          &__sectionsCount {
            width: 25% !important;
          }
        }
      }
    }
  }
}

@media (max-width: 1010px) {
  .learnSection {
    &__content {
      &__leftSide {
        &__banner {
          &__sectionsCount {
            width: 30% !important;
          }
        }
      }
    }
  }
}

@media (max-width: 880px) {
  .learnSection {
    &__content {
      &__leftSide {
        width: 100%;

        &__banner {
          background-size: cover;
          background-position: 30%;
        }
      }
    }
  }
}

@media (max-width: 855px) {
  .learnSection {
    &__content {
      &__leftSide {
        &__banner {
          &__sectionsCount {
            width: 40% !important;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .learnSection {
    &__content {
      &__leftSide {
        width: 100%;

        &__banner {
          &__title {
            width: 75%;
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .learnSection {
    --learnSectionSubTitleFontSize: 4rem;
  }
}

@media (max-width: 670px) {
  .learnSection {
    &__headContent {
      &__button {
        svg {
          display: none;
        }
      }

      &__title {
        font-size: 5rem;
      }
    }
  }
}

@media (max-width: 665px) {
  .learnSection {
    &__content {
      &__leftSide {
        &__banner {
          &__sectionsCount {
            width: auto !important;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .learnSection {
    &__content {
      &__leftSide {
        &__banner {
          &__title {
            width: 85%;
          }
        }

        &__filters {
          &__filtersList {
            width: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 530px) {
  .learnSection {
    &__content {
      &__leftSide {
        &__banner {
          background-position: 45%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .learnSection {
    --learnSectionSubTitleFontSize: 3rem;
  }
}

@media (max-width: 480px) {
  .learnSection {
    &__content {
      &__leftSide {
        &__banner {
          &__title {
            width: 90%;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .learnSection {
    &__headContent {
      &__title {
        font-size: 4rem;
      }

      &__button {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 400px) {
  .learnSection {
    background-color: transparent;
  }
}

@media (max-width: 350px) {
  .learnSection {
    padding: 0;

    &__headContent {
      &__title {
        font-size: 3.5rem;
      }
    }
  }
}
